<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>
    <div>
      <div>
        <h1>Employee Dashboard</h1>
      </div>
      <%- include("empLeftNav") %>

      <div class="rightcontainer">
        <h2>Assign Task</h2>
        <% if(updateFlag == '1'){ %>
        <p style="color: red;">Task has been updated</p>
        <% } %>
        <!-- printing message as data has been inseted -->
        <div class="frm">
          <form action="" method="post" enctype="multipart/form-data">
            <% data.forEach(function(ele){ %>
            Task Name :
            <input type="text" name="task_name" value="<%= ele.taskName %>" disabled><br><br>
            Task Description :
            <textarea name="task_desc" rows="2" cols="30" disabled><%= ele.taskDesc %></textarea><br><br>
            Release :
            <select name="task_sprint" disabled>
              <option value=""><%= ele.taskRelease[0].releaseName %></option>
            </select>
            Sprint :
            <select name="task_sprint" disabled>
              <option value=""><%= ele.taskSprint[0].sprintName %></option>
            </select><br><br>
            Task Type :
            <select name="task_type" disabled>
              <option value=""><%= ele.taskType[0].taskName %></option>
            </select><br><br>
            Assign By :
            <select name="task_assgin_by" disabled>
              <option value=""><%= ele.assignBy[0].name %></option>
            </select><br><br>
            Start Date :
            <input type="text" placeholder="<%= moment(ele.startDate).format('Do MMMM YYYY') %>" disabled> 
            Due Date : <input type="text" placeholder="<%= moment(ele.dueDate).format('Do MMMM YYYY') %>" disabled><br><br>
            Task Hours Needed :
            <select name="task_hour" disabled>
              <option value=""><%= ele.taskHourNeed %></option>
            </select><br><br>
            Associated Task Id :
            <select name="associated_task_id" disabled>
              <option value=""><%= ele.taskId %></option>
              <option>Not Specified</option>
            </select><br><br>
            Reviewer :
            <select name="task_reviewer" disabled>
              <option value=""><%= ele.taskReviewer[0].name %></option>

            </select><br><br>
            Task Note :
            <textarea name="task_notes" rows="2" cols="30" disabled><%= ele.taskNotes %></textarea><br><br>
            Any File :
            <% if(ele.taskFiles) { %>
              <td> <a href="/files/<%= ele.taskFiles %>">Files</a> </td>
            <% } else { %>
                <td> No Files </td>
            <% } %>
            <br><br>
          <% }); %>
          </form>
        </div>
          <% if(updateData.length){ var y=0 %>
          <div>
            <h3>Updated Task</h3>
            <table>
              <tr>
                <th>S No</th>
                <th>Updated On</th>
                <th>Task Status</th>
                <th>Hour Spend On Task</th>
                <th>Comment</th>
                <th>Assigner Comment</th>
                <th>Reviewer Commnet</th>
                <th>Files</th>
              </tr>
              <% updateData.forEach(function(ele){ %>
                <tr>
                  <td><%= y = y+1 %></td>
                  <td><%= moment(ele.updatedOn).format('Do MMMM YYYY') %></td>
                  <td><%= ele.taskStatus[0].StatusName %></td>
                  <td><%= ele.HourSpendOnTask %></td>
                  <td><%= ele.empComment %></td>
                  <td><%= ele.assignerComment %></td>
                  <td><%= ele.reviewerComment %></td>
                  <% if(ele.file) { %>
                    <td> <a href="/files/<%= ele.file %>">Files</a> </td>
                  <% } else { %>
                      <td> No Files </td>
                  <% } %>
                </tr>
                <% }); %>
            </table>
          </div>
          <br><br>
          <% } %>
          <div>

          <form class="frm" action="" method="post" enctype="multipart/form-data">
            <input class="sub" type="button" id="btn" value="Add Progress" onclick="show()">
            <div id="location">
              
            </div>
          </form>

          <script>
            function show(){
              var data = "<h3>Update Task</h3><br><br><%= moment().format('Do MMMM YYYY HH MM'); %><br><br>"+
              "Status: <select name='task_status' required><option value=''>Please Choose....</option>"+
                "<% tdata.forEach(function(ele) { %>"+
                "<option value='<%= ele._id %>'><%= ele.StatusName %></option>"+
                "<% }) %> </select><br><br>"+
              "Hour Spend on task: <input type='number' name='spend_hour' value='Enter only number' required><br><br>"+
              "Any File: <input type='file' name='file'><br><br>"+
              "Comments: <textarea rows='2' name='comment' cols='30' required></textarea><br><br>"+
              "Assigner Comments: <textarea rows='2' name='assinger_comment' cols='30'></textarea><br><br>"+
              "Reviewer Comments: <textarea rows='2' name='reviewer_comment' cols='30'></textarea><br><br>"+
              "<input class='sub' type='submit' value=' Update '>";
              document.getElementById("location").innerHTML = data;
              document.getElementById("btn").style.display = "none"
            }
        
          </script>
        </div>
      </div>
    </div>
  </div>
</body>
</html>